<div fxFlexFill class="header-bg">
  <img class="image-logo" src="./assets/image/pwc-logo.png" alt="PWC">
  <mat-list class="sideNavList">
    <mat-list-item class="active" fxLayoutAlign="center center">
      <i class="fa fa-home fa-lg"></i>
    </mat-list-item>
    <mat-list-item fxLayoutAlign="center center">
      <i class="fa fa-envelope fa-lg"></i>
    </mat-list-item>
    <mat-list-item fxLayoutAlign="center center">
      <i class="fa fa-comments fa-lg"></i>
    </mat-list-item>
    <mat-list-item fxLayoutAlign="center center">
      <i class="fa fa-question-circle fa-lg"></i>
    </mat-list-item>
    <mat-list-item fxLayoutAlign="center center">
      <i class="fa fa-cog fa-lg"></i>
    </mat-list-item>
  </mat-list>
</div>