.sideNavList mat-list-item:hover{
    color: #fc0;
    cursor: pointer;
    background: #282b30;
    // border-left: 4px solid #fc0;
}

.sideNavList mat-list-item {
    margin: 5px 0;
    padding: 35px 0;
}

.sideNavList mat-list-item.active {
    color: #fc0;
    background: #282b30;
    border-left: 4px solid #fc0;
}

.image-logo {
    max-width: 100%;
}