<div fxFlexFill class="header-bg header-wrap">
  <div fxLayoutAlign="end center" fxLayoutGap="20px">
    <div>
      <i class="fa fa-bell"></i>
    </div>
    <div>
      <button mat-button class="user-button">Arun Kumar &nbsp;
        <i class="fa fa-angle-down"></i>
      </button>
    </div>
  </div>
</div>