<mat-card style="background-color:#2d3035;min-height:250px">
    <mat-card-content>
        <img src="../../../assets/image/ajax-loader.gif" width="100" class="center" *ngIf="!isChartLoaded">
      <google-chart class="gauge_chart_div" [data]="guageChartData" (chartReady)='ready($event)'></google-chart><br/>
      <p style="color:white;width:100%;text-align:center" *ngIf="isChartLoaded">{{guageChartTitle}}</p>
    </mat-card-content>
  </mat-card>