<mat-card style="background-color:#2d3035;min-height:250px">
  <mat-card-content>
      <img src="../../../assets/image/ajax-loader.gif" width="100" class="center" *ngIf="!isChartLoaded">
      <google-chart [data]="columnChartData" (chartSelect)="select($event)" (chartReady)='ready($event)'></google-chart>
    
  </mat-card-content>
</mat-card>