<div class="widgets-row" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutWrap="wrap">
  <div fxFlex="5%">
    <app-side-nav></app-side-nav>
  </div>

  <div fxFlex="95%">
    <div fxLayout="column">
      <div fxFlex="100">
        <app-header-nav></app-header-nav>
      </div>
      <div fxFlex="100" fxLayoutGap="2">
        <div class="margin-content" fxLayout="column">
          <div fxFlex="100" class="content-header">
            <div fxLayout="row">
              <div fxFlex="65">
                <h2 style="margin: 0">Dashboard</h2>
              </div>
              <div fxFlex="10">
                <!-- <button mat-button class="user-button select-button">Account &nbsp;
                  <i class="fa fa-angle-down"></i>
                </button> -->
                <mat-form-field>
                    <mat-select [(value)]="selected" class="account-select-input">
                     <mat-option value="" data-ng-selected="selected">Account</mat-option>                   
                    <mat-option *ngFor="let item of accounts" [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="25" fxLayoutAlign="end">
                <!-- <button mat-button class="user-button select-button">
                  <i class="fa fa-calendar"></i> &nbsp; 29 Mar 2018 - 4 Apr 2018 &nbsp;
                  <i class="fa fa-angle-down"></i>
                </button> -->
                <input class="date-pick-input" [(ngModel)]="selectedMoments" [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3">
                <owl-date-time #dtPicker3></owl-date-time>
              </div>
            </div>
          </div>
          <div fxFlex="100">
            <mat-tab-group>
              <mat-tab label="DAMS KPI">
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-around center">
                  <div fxFlex="47%" style="background-color:#2d3035">

                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="95%">Knowledge Base</div>
                      <div fxFlex="5%">
                        <i class="fa fa-expand"></i>
                      </div>
                    </div>
                    <hr/>
                    <!-- <img src="../../../assets/image/ajax-loader.gif" width="100"> -->
                    <app-pie-chart [pieChartData]="knowledgeBaseData"></app-pie-chart>
                  </div>
                  <div fxFlexFill fxFlex="47%" style="background-color:#2d3035">
                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="95%">Intelligence</div>
                      <div fxFlex="5%">
                        <i class="fa fa-expand"></i>
                      </div>
                    </div>
                    <hr/>
                    <div fxLayout="row" fxFlex="100%">
                      <div fxFlex="50%">
                        <app-guagechart [guageChartData]="guageChartData" [guageChartTitle]="'Prediction Accuracy'"></app-guagechart>
                      </div>
                      <div fxFlex="50%">
                        <app-guagechart [guageChartData]="guageChartData2" [guageChartTitle]="'Knowledge Base'"></app-guagechart>
                      </div>
                    </div>
                  </div>
                </div>
                <br/>
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-around center" style="background-color:#22252a">
                  <div fxFlex="47%" style="background-color:#2d3035">
                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="95%">Pattern Detection Rate</div>
                      <div fxFlex="5%">
                        <i class="fa fa-expand"></i>
                      </div>
                    </div>
                    <hr/>
                    <app-bar-chart [columnChartData]="patternDetectionData" [type]="'patterndetection'" (selectedBar)="selectedBar($event)"></app-bar-chart>
                  </div>
                  <div fxFlex="47%" style="background-color:#2d3035">
                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="90%">Pattern Detection Details</div>
                      <div fxFlex="10%">
                        {{pdrDate}}
                      </div>
                    </div>
                    <hr/>
                    <app-pattern-detection-details [patternDetectionDatas]="patternDetectionDatas"></app-pattern-detection-details>
                  </div>
                </div>
              </mat-tab>



              <mat-tab label="Infrastructure">
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-around center">
                  <div fxFlex="47%" style="background-color:#2d3035">

                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="95%">CPU</div>
                      <div fxFlex="5%">
                        <i class="fa fa-expand"></i>
                      </div>
                    </div>
                    <hr/>

                    <app-bar-chart [columnChartData]="cpuChartData" [type]="'cpu'" (selectedBar)="selectedBar($event)"></app-bar-chart>
                  </div>
                  <div fxFlexFill fxFlex="47%" style="background-color:#2d3035">

                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="95%">Network</div>
                      <div fxFlex="5%">
                        <i class="fa fa-expand"></i>
                      </div>
                    </div>
                    <hr/>
                    <app-pie-chart [pieChartData]="networkData"></app-pie-chart>

                  </div>
                </div>
                <br/>
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-around center" style="background-color:#22252a">
                  <div fxFlex="47%" style="background-color:#2d3035">

                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="95%">Memory</div>
                      <div fxFlex="5%">
                        <i class="fa fa-expand"></i>
                      </div>
                    </div>
                    <hr/>

                    <app-line-chart [lineChartData]="memoryChartData"></app-line-chart>
                  </div>
                  <div fxFlex="47%" style="background-color:#2d3035">

                    <div fxLayout="row" fxFlex="100%" style="padding:15px;">
                      <div fxFlex="95%">Storage</div>
                      <div fxFlex="5%">
                        <i class="fa fa-expand"></i>
                      </div>
                    </div>
                    <hr/>
                    <br/>

                    <app-bar-chart [columnChartData]="storageChartData" [type]="'storage'" (selectedBar)="selectedBar($event)"></app-bar-chart>
                  </div>
                </div>

              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>