/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
    margin: 0;
    color: #ffffff;
    background: #22252a;
    font-family: sans-serif;
}

.header-bg {
    background: #2d3035
}

/* Styles for tab labels */
.mat-tab-label {
    max-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: #fff;
    opacity: 1 !important;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    max-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: #fc0;
    opacity: 1 !important;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: #fc0;
}

.mat-tab-label-content {
    min-width: 100% !important;
}

.mat-tab-label-container {
    margin: 15px 15px 30px;
    border-bottom: 1px solid white;
}

.user-button {
    background: none;
}

.gauge_chart_div circle:nth-child(2) {
    fill: #2d3035;
    stroke-width: 18px;
    stroke: #2d3035;
}

.gauge_chart_div text {
    fill: white;
}

.gauge_chart_div circle:nth-child(3) {
    fill: #a32020;
    stroke: #a32020;
    r: 9;
}

.gauge_chart_div path:nth-child(2) {
    fill: #fc0;
    stroke: #fc0;
    fill-opacity: 1;
    stroke-width: 0;
}

.gauge_chart_div{
    text-align:center;
    margin:0 auto;
}

svg{
    margin:0 15px;
}

.owl-dt-timer {
    height: 6em;
}

.date-pick-input:active, .date-pick-input:focus {
    border: 1px solid #fff;
}

.date-pick-input {
    width: 100%;
    background: #22252a;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.owl-dt-container {
    border: 1px solid #636668;
    background: #282b30;
}

.owl-dt-container, .owl-dt-container * {
    color: #fff;
}

input.owl-dt-timer-input {
    background: #282b30;
    border: 1px solid #fff !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell {
    color: #fff;
}

.owl-dt-container-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: #fc0;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
    background: rgba(255, 204, 0, 0.2);
}

.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar {
    height: 19.5em;
}

.owl-dt-inline-container, .owl-dt-popup-container {
    width: 18em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.account-select-input {
    width: 100%;
    background: #22252a;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{
    background: #282b30;
}

.mat-select{
    width:45% !important;
}