<mat-card style="background-color:#2d3035;color:white;min-height:250px">
  <mat-card-content>
      <img src="../../../assets/image/ajax-loader.gif" width="100" class="center" *ngIf="!isChartLoaded">
    <google-chart [data]="pieChartData" (chartReady)='ready($event)'></google-chart>
    <div class="total-val-pos" *ngIf="isChartLoaded && type=='kb'">{{totalvalue}}</div>
    <div class="title" *ngIf="isChartLoaded">{{title}}</div>
  </mat-card-content>
</mat-card>